* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.contenedor{
    background-color: #ffffff;
    margin: 0 auto; /* centra todo lo que tenga el DIV en el medio */
    width: 1000px;
    height: 100%;
}

header{    
    background-color: #ffffff;    
    padding: 15px;
    
}



h1{
    color: #0f296f;
    font-size: 30px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: #0f296f;
    font-size: 15px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
}

nav{
    width: 100%;    
}

.contenedor_nav{
    background-color: #6479ad;
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}
.contenido_nav{
    height:80%;
    width:250%;
    margin: auto 5px auto 5px;
    font-size: 20px;
    background-color:#ffffff;
    border: 2px solid #ffffff;
    text-align: center;  
    font-size: 17px;    
    color: #030643;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    padding: 12px;
    text-decoration: none;    
}

.contenido_nav:hover{
    background-color: #6479ad;
    border: 2px solid #ffffff;
    color:#ffffff;
}

#contenedor_img_princial{
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#contenedor_img_princial img{
    width: 100%;
}


.texto{
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    padding-top: 10px;
}

.ciudades{
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;    
}
.ciudades img{
    margin-left: 2px;
    margin-right: 2px;
    border: 3px solid rgb(255, 255, 255);
}
.ciudades img:hover{
    border: 3px solid #8a9fd5;
}

.pie{
    background-color: #d1d6dc;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;

    display:flex;
    align-items: center;
    justify-content: center;    
}


section img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#publi{
    height: 300px;
}